Repository samuelhnrq/react-native-dynamic-theme: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types-docs

lint:
  run: npx eslint {staged_files}

types-docs:
  run: cd docs && npx tsc --noEmit

fix: :rotating_light: ignore inting docs folder
  tsconfig.json
Due: none

fix: :rotating_light: fix package build CI/CD issues
  tsconfig.build.json
Due: none

docs: :memo: complete documentation website
  docs/docs/advanced-usage.md
  docs/docs/api.md
  docs/docs/color-system.md
  docs/docs/examples.md
  docs/docs/getting-started.md
  docs/docs/guides/troubleshooting.md
  docs/docs/intro.md
  docs/docs/tutorial-basics/_category_.json
  docs/docs/tutorial-basics/congratulations.md
  docs/docs/tutorial-basics/create-a-blog-post.md
  docs/docs/tutorial-basics/create-a-document.md
  docs/docs/tutorial-basics/create-a-page.md
  docs/docs/tutorial-basics/deploy-your-site.md
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/docs/tutorial-extras/_category_.json
  docs/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/docs/tutorial-extras/img/localeDropdown.png
  docs/docs/tutorial-extras/manage-docs-versions.md
  docs/docs/tutorial-extras/translate-your-site.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
Due: lint, types-docs

chore: release 0.3.0
  package.json
Due: none

docs: :memo: update README.md file
  README.md
Due: none

docs: :memo: fix docs website menu issues in mobile phones
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Due: lint

chore: release 0.3.1
  package.json
Due: none

chore: release 0.3.2
  package.json
Due: none

chore: release 0.3.3
  package.json
Due: none

fix: :recycle: test release-it config
  src/types/colorSchemeTypes.ts
Due: lint

chore: release 0.3.4
  package.json
Due: none

build: :arrow_up: update release-it
  package.json
  yarn.lock
Due: none

build: :arrow_up: update dependencies
  yarn.lock
Due: none

fix: move `TurboModuleRegistry.getEnforcing` to only happen on android
  src/NativeDynamicTheme.ts
  src/core/index.ts
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types-docs: any of: docs/**/*.{js,ts,jsx,tsx}
